body{
    background-color: rgb(255,254,249) !important;
}
.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: 2px 2px 70px 2px lightgrey !important;
    border-radius: 20px !important;
}
.resumeUpload{
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  /* width: 475px; */
  padding: 20px;

  border-radius: 10px;
  color: #444;
  cursor: pointer;
  margin-top: 20px;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}
.formDiv{
    

    box-shadow: 2px 2px 70px 2px lightgrey !important;
    border-radius: 20px;
}
.divbtn{
    float: right;
    margin-right: 3px;
  }
  
  body{
    background-color: #f2eef4 !important;
  }
  .bg{
    padding-bottom: 50px;
  }
  .setOne{
    /* height: 620px; */
    background-color: #d9cce0;
    box-shadow: 2px 2px 70px 2px lightgrey !important;
  }
  
  .setTwo{
    /* height: 620px; */
    background-color: #f1dee2;
    box-shadow: 2px 2px 70px 2px lightgrey !important;
  }
  .wholeRow{
    border-radius: 5px 0px 0px 5px !important;
  }
  .wholerow{
    border-radius: 0px 5px 5px 0px !important;
  }
  .textOne{
    font-size: 30px;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
    /* outline-style: dotted !important; */
  }
  .textTwo{
    font-size: 20px;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: -7px;
  }
  .app{
    margin-top: -20px;
  }
  .email_login{
  background-color: #f2eef4;
  }
  
  .planSwitch,
  .planSwitch * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .planSwitch {
    display: block;
    /* width: 250% !important; */
    max-width: 50em;
    /* margin: 2em auto; */
    height: 2.5em;
    /* left: 19px; */
    font-size: 10pt;
    border-radius: .25em;
    background: #f2eef4;
    box-shadow: inset rgba(0,0,0,.1) 0px .25em .5em;
    position: relative;
  }
  .planSwitch input {
    display: none;
  }
  .planSwitch label {
    width: 33.3333%;
    float: left;
    text-align: center;
    line-height: 2.5em;
    color: #222;
    position: relative;
    z-index: 500;
    cursor: pointer;
    transition: all .2s ease-in-out;
     /* font-weight: 500 !important; */
     font-size: larger;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: 500 !important;
     /* padding-top: 10px; */
    
   
  }
  .planSwitch input:checked + label {
    color: black;
    /* text-shadow: rgba(0,0,0,.1) 0px -1px 2px; */
  }
  .indicator {
    display: block;
    width: 50.3333%;
    height: 2.5em;
    background: #d9cce0;
   
    /* box-shadow: inset #f1dee2 0 -.25em 1em, inset #fff 0 1px 1px; */
    /* border: 1px solid #f60; */
    border-radius: .25em;
    position: absolute;
    /* top: 0; */
    z-index: 250;
    transition: left .2s ease-in-out;
  }
  .planSwitch input:first-of-type:checked ~ .indicator {
    left: 0;
  }
  .planSwitch input:nth-of-type(2):checked ~ .indicator {
    left: 48.3333%;
  }
  .planSwitch input:nth-of-type(3):checked ~ .indicator {
    left: 66.6666%;
  }
  @media (min-width: 500px) {
    .planSwitch {
      font-size: 11pt;
    }
  }
  .gender{
    font-size: larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500 !important;
    padding-top: 5px !important;
  }
  .blood{
    background-color: #fff;
  }
  .btn_bg{
    margin-top: 20px !important;
    margin-left: -11px !important;
    margin-right: -11px !important;
    margin: 0;
    height: 50px;
    background-color: whitesmoke;
  }
  .obw_logo_two{
   
    width: 300px !important;
  }
  .reset{
    margin-top: 6px;
    margin-left: 10px !important;
    background-color: white !important;
    color: black !important;
    border: 1px solid #d9cce0 !important;
    margin-right: 10px !important;
  }
  .reset:hover{
    background-color: #d9cce0 !important;
    border: 1px solid #d9cce0 !important;
  }
  .submit{
    margin-top: 6px;
    background-color: #4677ff !important;
    color: #fff !important;
    /* margin-right: auto !important; */
    float: right;
  }
  .submit:hover{
    background-color: #d9cce0 !important;
    border: 1px solid #d9cce0 !important;
    color: black !important;
  }
  .login{
    display: flex !important;
    justify-content: center !important;
   margin-top: 23% !important;
  }
  .padd{
    margin-left: -30px;
  }
  .login_btn{
    width: 30% !important;
    display: flex !important;
    justify-content: center !important;
  }
  .center{
   margin-top: 10% !important;
   padding-top: 5%;
   padding-bottom: 5%;
   border-radius: 10px;
   box-shadow: 0px 0px 40px 1px grey;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .popup_btn:hover{
  color: black !important;
  background-color: #d9cce0 !important;
  border: 1px solid gray !important;
  }
  .popup_btn{
    background-color: #4676ff !important;
    color: #e6eeff !important;
    font-size: 19px !important;
    border: none !important;
    margin-top: 10px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border: 1px solid gray !important;
  }
  .col_span{
    width: 50% !important;
    padding-right: 50% !important;
    max-width: 200px !important;
  }
  td {
    display: table-cell !important;
  vertical-align:var(#4677ff) !important;
   /* padding: 100px !important; */
   width: 30% !important;
  }
  body{
    background-color: #fff !important;
  }
  
  .Login_image_2{
    width: 75%;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 50px;
  }
  .input_login{
  margin-top: 180px !important;
  }
  .color{
    color: #00364d;
    font-size: 25px;
    cursor: pointer;
    margin-top: 1px;
    }
    .popup_btn:hover{
        color: black !important;
        background-color: #d9cce0 !important;
        border: 1px solid gray !important;
        }
        .btn_display{
          display:flex !important;
        }
  
        .span_margin{
          margin-left:10px;
        }
        .textarea{
          width: 210px;
        }
        .id_display{
          display: none !important;
        }
      .obw_Logo{
        width: 50% !important;
        
      }
      .obw_Logo_two{
        width: 100%;
      }
      .popup_text{
        padding: 140px;
        color: #4a2782;
      }
      .Obw_logo{
        width:50% !important;
      
      }
      .obw_logo{
        width:65% !important;
      }
      .Obw_logo_login{
        width:70% !important;
        padding-left: 150px;
      }
      .emp_create{
        color: #46227f;
        box-shadow: 0px 0px 40px 1px grey;
        border-radius: 10px;
        margin-top: 40px;
      }
      .popup_page{
        color:#f28020;
      }
      /* .emp_create_two{
        color: #46227f;
        box-shadow: 0px 0px 40px 0px grey;
        border-radius: 10px;
        margin-top: 40px;
      } */
      .login_bg{
        box-shadow: 0px 0px 20px 1px grey;
        border-radius: 10px;
        margin-top: 40px;
      }
      /* .login_head{
  
      } */
  .emp_list_head{
    font-family:Georgia, 'Times New Roman', Times, serif !important;
    font-size: 35px;
  }
  .emp_list_shadow{
    box-shadow: 0px 0px 20px 1px grey;
    border-radius: 10px;
  }
  .emp_details{
    box-shadow: 0px 0px 20px 1px grey !important;
    border-radius: 10px !important;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  }
  .emp_details_border{
    border: 1px solid #316394;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  /* .emp_name{
    padding-top: 20px !important;
    border-bottom: 1px solid #316394;
  } */
  .Animate_one{
    animation: port 10s 1;
    letter-spacing: 10px;
  }
  @keyframes port{
  
    from{
   letter-spacing: 15px;
   color: skyblue;
  
   }
   to{
    text-shadow: 0 0 60px skyblue;
   }
  }
  .Animate_2{
    animation: porttwo 5s 1;
  }
  @keyframes porttwo{
  
    from{
   
  width: 300px;
   }
   to{
    width: 400px;
   }
  }
  .color_2{
    color: darkslateblue;
  }
  .color_3{
    color: #FF5C5C;
  }
  .color_4{
    color: #288bdb;
  }
  .top_nav{
    background-color: #f1dee2;
  
    margin-left: -12px;
    margin-right: -12px;
    padding-bottom: 55px;
  }
  .table_body{
    background-color: #f1dee2;
    margin-left: -12px;
    margin-right: -12px;
  }
  .thead_bg{
    background-color: #d9cce0 !important;  
    border: 0.5px solid gray;
    border-radius: 20px !important;
  }
  .thead_bg>tr{
    color: black !important;
    font-weight: 500;
  }
  .thead_white{
    background-color:white;
    border: 1px solid grey;
  }

  html,
body,
.container {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "Pacifico", "Open Sans";
  font-weight: lighter;
  color: #ff8e8e;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eee8f8;
}

.variants {
  display: flex;
  justify-content: center;
  align-items: center;
}

.variants > div {
  margin-right: 5px;
}

.variants > div:last-of-type {
  margin-right: 0;
}

.file {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file > input[type='file'] {
  display: none
}

.file > label {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 29%);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file > label:hover {
  border-color: hsl(0, 0%, 21%);
}

.file > label:active {
  background-color: hsl(0, 0%, 96%);
}

.file > label > i {
  padding-right: 5px;
}

.file--upload > label {
  color: hsl(204, 86%, 53%);
  border-color: hsl(204, 86%, 53%);
}

.file--upload > label:hover {
  border-color: hsl(204, 86%, 53%);
  background-color: hsl(204, 86%, 96%);
}

.file--upload > label:active {
  background-color: hsl(204, 86%, 91%);
}

.file--uploading > label {
  color: hsl(48, 100%, 67%);
  border-color: hsl(48, 100%, 67%);
}

.file--uploading > label > i {
  animation: pulse 5s infinite;
}

.file--uploading > label:hover {
  border-color: hsl(48, 100%, 67%);
  background-color: hsl(48, 100%, 96%);
}

.file--uploading > label:active {
  background-color: hsl(48, 100%, 91%);
}

.file--success > label {
  color: hsl(141, 71%, 48%);
  border-color: hsl(141, 71%, 48%);
}

.file--success > label:hover {
  border-color: hsl(141, 71%, 48%);
  background-color: hsl(141, 71%, 96%);
}

.file--success > label:active {
  background-color: hsl(141, 71%, 91%);
}

.file--danger > label {
  color: hsl(348, 100%, 61%);
  border-color: hsl(348, 100%, 61%);
}

.file--danger > label:hover {
  border-color: hsl(348, 100%, 61%);
  background-color: hsl(348, 100%, 96%);
}

.file--danger > label:active {
  background-color: hsl(348, 100%, 91%);
}

.file--disabled {
  cursor: not-allowed;
}

.file--disabled > label {
  border-color: #e6e7ef;
  color: #e6e7ef;
  pointer-events: none;
}

@keyframes pulse {
  0% {
    color: hsl(48, 100%, 67%);
  }
  50% {
    color: hsl(48, 100%, 38%);
  }
  100% {
    color: hsl(48, 100%, 67%);
  }
}

/* resume upload input */
.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 170px;
  /* width: 475px; */
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 7px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  margin-top: 10px;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}
input[type=file]::file-selector-button {
  border: 2px solid rgb(217,204,224);
  padding: .2em .4em;
  border-radius: .2em;
  background-color: rgb(217,204,224);
  transition: 1s;
}
.submitBtn{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.submitBtn button{
padding-left: 15px;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 5px;
border: none;
background-color: rgb(217,204,224);
border-radius: 5px;
border: 1px solid black;
}
.submitbtn:hover{
  box-shadow: 2px 2px 70px 2px b black !important;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}
.fileInput{
  margin-left: 80px;
}